<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning | Machine Learning</title>
  </head>
  <body>
    <h1>Hi buddies... wassup!</h1>
    <p>
      This is a simple website I have created to understand about how to make ML
      models function on production level.
    </p>
    <p>
      This is a simple project that uses Ridge model on algeria forest fire
      dataset to predict 'FWI'
    </p>
    <a href="/predictData">Predict FWI</a>
  </body>
</html>
