<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning | Machine Learning</title>
  </head>
  <body>
    <h1>Hi buddies... wassup!</h1>
    <p>
      This is a simple website I have created to understand about how to make ML
      models function on production level.
    </p>
    <p>
      This is a simple project that uses Ridge model on algeria forest fire
      dataset to predict 'FWI'
    </p>
    <p>How I have deployed this website:</p>
    <ul>
      <li>Created pickle files for required stuffs</li>
      <li>Developed a flask backend that handles HTTP requests</li>
      <li>Created a github repo</li>
      <li>
        Deployed on render --> Created new project --> Web Servide --> Connect
        Repo
      </li>
    </ul>
    <a href="/predictData">Predict FWI</a>
  </body>
</html>
